<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/styles/app.css" type="text/css" >

    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js"></script> -->

  </head>
  <body>
    <div class="border-div">
    <div id="map"></div>
  </div>
   <div id="play-again">
    Your score: <div id="current-score"></div>
   </div>
  </body>
</html>


